.comment
  - image = Digest::MD5.hexdigest comment.email
  = image_tag('http://gravatar.com/avatar/' + image + '?s=64', :alt => comment.author, :size => "44x44")
  .comment_head
    = link_to comment.author, comment.website
    - if comment.parent_id
      = "as a reply to #{Comment.find(comment.parent_id).author}"
  .comment_content
    = preserve (markdown (comment.body))
  .clear
  .comment_links
    = "%s" % comment.created_at
    &nbsp;
    = link_to 'reply', new_article_comment_path(@article, :parent_id => comment)
