%h2 Speak your mind

= form_for [@article, @article.comments.build] do |f|
  = f.hidden_field :article_id
  = f.hidden_field :parent_id, :value => params[:parent_id]
  = f.text_field :author, :placeholder => 'Your name'
  %br
  = f.text_field :website, :placeholder => "Your website (optional)"
  %br
  = f.text_field :email, :placeholder => "Your mail"
  %br
  = f.text_area :body, :placeholder => 'Your thoughts'
  %br
  = f.submit "Go", :class => "submit"
