- title "articles"

- @articles.each_with_index do |article, idx|
  %h1{:style => "float: left;"}
    = link_to article.title, article
  %span{:style => "float: left; margin-top: 45px; margin-left: 30px; font-size: 16px; color: #1a8bd2; font-style: italic;"}
    = link_to "edit", edit_article_path(article)
    &nbsp;
    = link_to "delete", article, :confirm => "You sure?", :method => :delete
  .clear
  = markdown article.body[0..400] + '...'
  %br
  %br
  = link_to "read more", article, :class => "read_more"
  - if (idx + 1) == @articles.length
    .spacer
  - else
    .spacer{:style => "border-bottom: 1px dashed #e1ddda; margin-bottom: 20px;"}
