!!!
%html
	%head
		%title Semahawk
		= stylesheet_link_tag :all
		= csrf_meta_tag
	%body
		.container_12
			.grid_12#header{:style => "text-align: center;"}
				%h1 Sem<span>Ah<span>awk</span></span>
			.clear
			
			.grid_12{:style => 'text-align: center;'}
				%p= t 'sh.gen.coming_soon'
			
			/[if IE]
				.grid_12{:style => 'text-align: center;'}
					%p
						= t 'sh.ie_note.site_creepy'
						%a{:href => 'http://www.mozilla.com/en-US/firefox/'}= t 'sh.ie_note.get_firefox'
						%br
						%small
							%a{:href => "http://www.flickr.com/photos/59522554@N07/5447592085/sizes/l/in/photostream/"}
								= t 'sh.ie_note.here_link'
							= t 'sh.ie_note.looks_like_under_firefox_4'
				.clear
