!!!
%html
	%head
		%title= yield(:title) + ' · Pirate Sheeps'
		= stylesheet_link_tag 'base'
		= javascript_include_tag 'mootools.min', 'application', 'rails'
		= csrf_meta_tag
		
		:javascript
			window.addEvent("domready", function(){
				$$('#wrap #content .entry .content a').set('target', '_blank');
			});
		
		:javascript
			(function() {
				var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
				s.type = 'text/javascript';
				s.async = true;
				s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
				t.parentNode.insertBefore(s, t);
			})();
	
	%body
		%h1#header
			= link_to 'Pirate Sheeps!', root_url
		#wrap
			#sheep
			#menu
				= link_to t('sh.gen.articles').capitalize, articles_path
				= link_to t('sh.gen.contact').capitalize, contact_path
				%form{:action => "search", :method => "get", :style => "float: right; margin-top: -6px;"}
					%input{:type => "text", :id => "search", :name => "q", :placeholder => "Searrrrch, me heartie!"}
			
			#content
				= yield
			
			#footer
				Copyright &copy; 2011 by Szymon Urbaś<br />
				This site is <a href="http://github.com/semahawk/home">open source</a>!
