!!!
%html
  %head
    %title= yield(:title) + ' @ uurbas.co.cc'
    = stylesheet_link_tag 'base'
    = javascript_include_tag 'jquery.min', 'jquery.easing.1.3', 'application', 'rails'
    = csrf_meta_tag
    
    :javascript
      $(document).ready(function(){
        $('#wrap #content .entry .content a').attr('target', '_blank');
        $('#wrap #content #conversation .comment a').attr('target', '_blank');
      });
    
    :javascript
      (function() {
        var s = document.createElement('script'), t = document.getElementsByTagName('script')[0];
        s.type = 'text/javascript';
        s.async = true;
        s.src = 'http://api.flattr.com/js/0.6/load.js?mode=auto';
        t.parentNode.insertBefore(s, t);
      })();
  
  %body
    #wrap
      #content
        #header
          #header_left
            = breadcrumb :pretext => "", :separator => "»", :autoroot => true, :show_root_alone => true, :link_last => false
          #header_right
            beacon
          .clear

        #master
          = yield

        #footer
          Copyright &copy; by Szymon Urbaś

